/* Shared */
.body-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    margin: 12px 4px 2px 4px;
    height: 20px;
    border: 3px solid #DDD;
    border-radius: 6px;
    background-color: #FFF;
}

.progress-bar div {
    height: 100%;
    background-color: #EAEAEA;
    text-align: center;
    white-space: nowrap;
}

.button-selected {
    font-weight: bold;
}

.generic-button {
    margin: 12px 0px 12px 0px;
    padding: 8px;
    border-radius: 6px;
    background-color: #0CE;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 120px;
    color: black;
}

.generic-button:hover {
    background-color: #0AF;
    cursor: pointer;
}


/* Nav */
.nav-bar-container {
    border-bottom: 3px solid #CDF;
}

.nav-bar {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.nav-bar .nav-bar-option {
    display: inline-block;
    padding: 12px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.nav-bar .nav-bar-login {
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.nav-bar .nav-bar-login img {
    width: 20px;
    border-radius: 10px;
    margin-right: 16px;
}


/* HomePage */
.home-nav-button-container {
    display: inline-block;
    width: 50%;
}

.home-nav-button {
    margin: 12px;
    padding: 16px;
    border-radius: 6px;
    background-color: #ACD;
    font-size: 16px;
    text-align: center;
}

.home-nav-button:hover {
    background-color: #ACE;
    cursor: pointer;
}

/* Question Card */
.question-card {
    padding: 10px;
}

.question-card .question-header {
    background-color: #C0C0C0;
    border-radius: 8px 8px 0px 0px;
    padding: 12px 18px 12px 18px;
    font-size: 18px;
    font-weight: bold;
}

.question-card .question-body {
    border: 2px solid #C0C0C0;
    border-radius: 0px 0px 8px 8px;
    padding: 10px;
}

.question-card .question-body .question-body-left {
    display: inline-block;
    width: 20%;
}

.question-card .question-body .question-body-left img {
    border-radius: 50%;
    width: 60%;
    padding: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.question-card .question-body .question-body-right {
    display: inline-block;
    width: 80%;
}

.question-card .question-body .question-body-right .question-body-header {
    margin: 12px 0px 12px 0px;
    font-size: 16px;
    font-weight: bold;
}

.question-card .question-body .question-body-right .question-body-text {
    margin: 12px 0px 12px 0px;
    font-size: 14px;
}

.question-card .question-body .question-body-right .question-option {
    margin: 12px;
    padding: 12px 16px 12px 16px;
    border: 2px solid #C0C0C0;
    border-radius: 12px;
}

.question-card .question-body .question-body-right .question-option-selected {
    margin: 12px;
    padding: 12px 16px 12px 16px;
    border: 2px solid #0AF;
    border-radius: 12px;
    background-color: #0EF;
}


/* New Question Page */
.create-question-container {
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    margin: 18px;
    padding: 16px;
}

.create-question-header {
    font-size: 20px;
    text-align: center;
    padding: 8px;
}

.create-question-body {
    padding: 8px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.create-question-body .create-question-input {
    width: 100%;
    padding: 4px 0px 4px 0px;
    margin: 12px 0px 12px 0px;
    font-size: 18px;
}

.create-question-body .create-question-submit {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    padding: 12px 0px 12px 0px;
    border-radius: 6px;
    background-color: #0CE;
    font-size: 16px;
    text-align: center;
}

.create-question-body .create-question-submit:hover {
    background-color: #0AF;
    cursor: pointer;
}


/* User Card */
.user-card {
    padding: 10px;
    margin: 16px;
    border: 2px solid #C0C0C0;
    border-radius: 8px;
}

.user-card .user-card-left {
    width: 30%;
    display: inline-block;
}

.user-card .user-card-left img {
    border-radius: 50%;
    padding: 4px;
    width: 50%;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user-card .user-card-left div {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}



.user-card .user-card-right {
    width: 70%;
    display: inline-block;
}

.user-card .user-card-right .user-card-right-header {
    padding: 8px 12px 8px 12px;
    font-size: 18px;
}

.user-card .user-card-right .user-card-right-body {
    padding: 6px 12px 6px 12px;
    font-size: 14px;
}


/* Login Page */
.login-page-container {
    max-width: 500px;
}

.login-card-container {
    margin: 20px;
    padding: 24px;
    border: 2px solid #C0C0C0;
    border-radius: 10px
}

.login-card-container .login-page-header {
    font-size: 22px;
    font-weight: bold;
}

.login-card-container .login-page-body {
    margin-top: 24px;
}

.login-card-container .login-page-body .login-select {
    margin: 12px 0px 12px 0px;
    font-size: 16px;
    min-width: 200px;
    padding: 8px;
}


/* Not Found Page */
.not-found-container {
    padding: 24px;
    max-width: 600px;
}

.not-found-container .not-found-header {
    font-size: 24px;
    font-weight: bold;
}